`{% extends "main.html" %}
{% block content %}
<div class="uk-container uk-container-center">
    <div class="uk-grid main-page uk-width-1-1 uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin>
                {% from "security/_macros.html" import render_field_with_errors, render_field %}
				{% include "security/_messages.html" %}
                
                {% include "sidebar.html" %}
                
                <div class="uk-width-3-4 mp-page">
                    <div class="uk-width-1-1 mp-header" style="margin-bottom: 80px;">
                        <div class="uk-width-5-6" style="float: left;">
                            <h1 style="font-family: 'Quicksand', sans-serif; color: #aeaeae; text-decoration: none;">{{ user.full_name }}</h1>
                        </div>
                        <!--<div class="uk-width-1-6" style="float: right;">
                            <a href="" class="uk-button-success uk-button">New Domain</a>
                        </div>-->
                    </div>
                    <div class="uk-width-1-1 mp-body">
                        <form class="uk-form uk-form-horizontal" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                            <h2 class="body-title">Change Password</h2>
                            {{ change_password_form.hidden_tag() }}    
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-h-ip">Password</label>
                                <div class="uk-form-controls">
                                    {{ render_field_with_errors(change_password_form.password, class="uk-form-large uk-form-width-large", placeholder="Password") }}
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-h-ip">New Password</label>
                                <div class="uk-form-controls">
                                    {{ render_field_with_errors(change_password_form.new_password, class="uk-form-large uk-form-width-large", placeholder="Password") }}
                                </div>
                            </div>    
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-h-ip">Confirm New Password</label>
                                <div class="uk-form-controls">
                                    {{ render_field_with_errors(change_password_form.new_password_confirm, class="uk-form-large uk-form-width-large", placeholder="Password") }}
                                </div>
                            </div>         
                            <div class="uk-form-row">
                                <button class="uk-button uk-button-large uk-button-success uk-float-left" type="submit">Change Password</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                
    </div>
</div>
{% include "messages.html" %}    
{% endblock %}