{% extends "main.html" %}
{% block content %}

<div class="uk-container uk-container-center uk-margin-large-bottom">
	<img src="{{ url_for('static', filename='images/logo.png') }}" class="log-img" />
	<div class="mp-reg">
			{% from "security/_macros.html" import render_field_with_errors, render_field %}
			{% include "security/_messages.html" %}
			<form class="uk-form uk-form-horizontal" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
			<legend><h2 class="form-hdr">Reset Password</h2></legend>
	            <div class="uk-form-row">
	                {{ render_field_with_errors(reset_password_form.password, class="uk-form-large uk-form-width-large", placeholder="Password") }}
	            </div>
	            <div class="uk-form-row">
	            	{{ render_field_with_errors(reset_password_form.password_confirm, class="uk-form-large uk-form-width-large", placeholder="Confirm Password") }}
	            </div>
			  {{ reset_password_form.hidden_tag() }}
			  <div class="uk-form-row">
			  	<button class="uk-button uk-button-large uk-button-success uk-button uk-width-1-1 uk-margin-small" id="submit" name="submit" type="submit">Reset Password</button>
			  </div>
			</form>
		</div>
</div>
{% endblock %}