<div class="uk-width-1-6 uk-height-viewport main-viewport">
	<div class="uk-margin-top uk-margin-large-bottom uk-margin-small">
		<div class="section-title" style="padding-left: 10px;">My Sessions</div>
		<div>
			<div></div>
			<button class="uk-button" type="button" data-uk-modal="{target:'#modal'}">Create New</button>
		</div>
	</div>
</div>

<div id="modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a href="" class="uk-modal-close uk-close"></a>
        <h1>Give your new session a nifty name</h1>
        <input type="text" placeholder="New Session" id="new_session_name" />
        <button class="uk-button" type="button" id="create_session">Create</button>
    </div>
</div>

<script type=text/javascript>
  $(function() {
    $('#create_session').bind('click', function() {
    	if (!$('#new_session_name').val()) {
    		UIkit.notify({
	            message : 'Your new session needs a name',
	            timeout : 10000,
	            pos     : 'top-right',
	            status  : 'warning'
	        });
    	}
    	else {
    		$.getJSON($SCRIPT_ROOT + '/create_new_session', {
		    	name: $('#new_session_name').val(),
		    }, function(data) {
		    	alert(data.session_id);
		    });
    	}
    	return false;
    });
  });
</script>