<div class="uk-width-1-2 uk-height-viewport main-viewport">
	<div class="uk-margin-top uk-margin-large-bottom">
		<div id="firepad-container"></div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	// CodeMirror
	var myCodeMirror = CodeMirror(document.getElementById('firepad-container'), {
	  value: "# Classic Hello Andela! \nprint('Hello Andela!')\n",
	  mode:  "python",
	  lineNumbers: true,
	});

	inbox.onmessage = function(message) {
		var data = JSON.parse(message.data);
		myCodeMirror.setValue(data.text);
	}

	$("#firepad-container").keyup(function(e) {
		if (e.ctrlKey && e.keyCode == 13)
        {
            code = myCodeMirror.getValue();
			outbox.send(JSON.stringify({text: code}))
        }
	});
	
});
</script>