<div class="uk-width-3-4 mp-page">
    <div class="uk-width-1-1 mp-header" style="margin-bottom: 80px;">
        <div class="uk-width-5-6" style="float: left;">
            <h1 style="font-family: 'Quicksand', sans-serif; color: #aeaeae; text-decoration: none;" data-uk-tooltip="{pos:'top-left'}" title="{{chan_desc}}">{{chan_name}}</h1>
        </div>
        <div class="uk-width-1-1" style="float: right;">
        	<a href="#offcanvas-2" class="uk-icon-button uk-icon-comments-o" style="float: right;" data-uk-offcanvas></a>
        </div>
    </div>
    <div class="uk-width-1-1 code-instructions"><p>Press CTRL+ENTER to share your edit</p></div>
    <div class="uk-width-1-1 mp-body">
            <div class="uk-width-1-1">
                <div id="firepad-container"></div>
            </div>

    </div>
    
</div>
<script type="text/javascript">
$(document).ready(function() {
	// CodeMirror
	var myCodeMirror = CodeMirror(document.getElementById('firepad-container'), {
	  value: "# Classic Hello Andela! \nprint('Hello Andela!')\n",
	  mode:  "python",
	  lineNumbers: true,
	  theme: "monokai",
	});

	inbox.onmessage = function(message) {
		var data = JSON.parse(message.data);
		myCodeMirror.setValue(data.text);
	}

	$("#firepad-container").keyup(function(e) {
		if (e.ctrlKey && e.keyCode == 13)
        {
            code = myCodeMirror.getValue();
			outbox.send(JSON.stringify({text: code}))
        }
	});
	
});
</script>